<!DOCTYPE html>
<html>
  <head>
    <title>modifier un livre</title>
  </head>
  <body>
    <h1>Modifier un livre</h1>
    <form action="/books/<%= book._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <label for="title">Titre</label>
      <input type="text" id="title" name="title" value="<%= book.title %>" required>

      <label for="author">Auteur</label>
      <input type="text" id="author" name="author" value="<%= book.author %>" required>
      <label for="genre">Genre</label>
      <input type="text" id="genre" name="genre" required>

      <label for="description">Description</label>
      <textarea id="description" name="description" ><%= book.description %></textarea>

      <label for="image">Image</label>
      <input type="file" name="image" accept="image/*" />
      <% if (book.image) { %>
        <img src="<%= book.image %>">
      <% } %>

      <input type=date id="publishedDate" name="publishedDate" required>

      <button type="submit">Enregistrer</button>
    </form>
    <a href="../index.html">Retourner à la liste</a>
  </body>
</html>
